@import '../../../global/styles/mixins.css';
@import '../../../global/styles/colors.css';

.wrapper {
    @include modal-wrapper-decoration;

    padding: 60px 80px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    & span {
        color: $hard-gray-color;
    }

    & button {
        @include main-button;
    }
}
