@import './colors.css';

@mixin parent-wrapper-decoration {
    box-shadow: 23px 23px 45px #bebebe, -23px -23px 45px #ffffff;
    border-radius: 30px;
}

@mixin modal-wrapper-decoration {
    background-color: $soft-white-color;
    border: 1px solid #666666;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #666666;
}

@mixin input-decorator {
    padding: 10px 20px;
    outline: none;
    border-style: none;
    border-radius: 20px;
    background-color: $soft-white-color;
    box-shadow: inset 5px 5px 4px #c1c1c1, inset -5px -5px 4px #ffffff;
    font-size: 13px;

    &:focus {
        border: 1px solid orange !important;
    }
}

@mixin main-button {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 10px 40px;
    border-radius: 20px;
    border-style: none;
    color: $hard-gray-color;
    font-size: 14px;

    &:hover {
        box-shadow: inset 5px 5px 4px #c1c1c1, inset -5px -5px 4px #ffffff;
        background-color: transparent;
        color: $soft-black-color;
    }
}

@mixin main-link {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: $hard-gray-color;

    &:hover {
        box-shadow: inset 5px 5px 4px #c1c1c1, inset -5px -5px 4px #ffffff;
        color: $soft-black-color;
    }
}
