@import '../../../global/styles/mixins.css';
@import '../../../global/styles/colors.css';

.wrapper {
    display: flex;
    align-items: center;

    & label {
        display: block;
        width: 120px;
        color: $hard-gray-color;
    }

    & input {
        @include input-decorator;
    }
}

.datePicker {
    @include modal-wrapper-decoration;
    padding: 20px;
}
