@import '../../utils/styles/mixins.css';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90vw;
    height: 60vh;
    padding: 30px;

    @include parent-wrapper-decoration;
}

.grid {
    --ag-background-color: #e0e0e0;
    --ag-borders: inset 5px;
    --ag-border-color: rgba(255, 255, 255, 0.3);
}
