@import '../../../global/styles/mixins.css';
@import '../../../global/styles/colors.css';

.wrapper {
    @include parent-wrapper-decoration;

    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90vw;
    height: 60vh;
    padding: 30px;

    & h2 {
        align-self: flex-start;
        color: $soft-black-color;
    }
}

.grid {
    --ag-background-color: $soft-white-color;
    --ag-borders: inset 5px;
    --ag-border-color: rgba(255, 255, 255, 0.3);
}
