@import '../../global/styles/mixins.css';

.wrapper {
    @include modal-wrapper-decoration;
    padding: 60px 80px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    & span {
        color: #555555;
    }

    & button {
        @include main-button;
    }
}
