@import '../../utils/styles/mixins.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    & a {
        @include main-link;
    }
}

.left {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    & h1 {
        font-family: 'Segoe UI';
    }

    & span {
        transform: translateY(-5px);
    }
}
