.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & label {
        color: #555555;
    }

    & input {
        padding: 10px 20px;
        outline: none;
        border-style: none;
        border-radius: 20px;
        background-color: #e0e0e0;
        box-shadow: inset 5px 5px 4px #c1c1c1, inset -5px -5px 4px #ffffff;

        &:focus {
            border: 1px solid orange;
        }
    }
}
