@import '../../../global/styles/mixins.css';
@import '../../../global/styles/colors.css';

.form {
    @include parent-wrapper-decoration;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding: 60px;

    & h3 {
        align-self: flex-start;
        color: $soft-black-color;
    }
}

.parentFieldWrapper {
    display: flex;
    gap: 60px;
}

.childFieldWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.fieldSet {
    padding: 30px;
    border-radius: 15px;
    border: 5px rgba(255, 255, 255, 0.3);
    border-style: outset;

    & legend {
        color: $hard-gray-color;
        padding: 0 20px;
    }
}

.submitButton {
    align-self: flex-end;
    @include main-button;
}
