@import '../../../global/styles/mixins.css';
@import '../../../global/styles/colors.css';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & label {
        color: $hard-gray-color;
    }

    & input {
        @include input-decorator;
    }
}
