* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e0e0e0;
}

#root {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

a {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #555555;
}

a:hover {
    box-shadow: inset 5px 5px 4px #c1c1c1, inset -5px -5px 4px #ffffff;
    color: #333333;
}

button {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 10px 40px;
    border-radius: 20px;
    border-style: none;
    color: #555555;
    font-size: 14px;
}

button:hover {
    box-shadow: inset 5px 5px 4px #c1c1c1, inset -5px -5px 4px #ffffff;
    background-color: transparent;
    color: #333333;
}
