@import '../../../global/styles/mixins.css';
@import '../../../global/styles/colors.css';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & label {
        color: $hard-gray-color;
    }
}

.dropdownWrapper {
    padding: 0;
    border-style: none;
    border-radius: 20px;
    width: 212px;
    gap: 10px !important;
}

.dropdownInput {
    @include input-decorator;
}

.dropdownItemsWrapper {
    @include modal-wrapper-decoration;
    padding: 5px 20px;
}

.dropdownItem {
    font-size: 12px;
}
